*, html, body{
    color: #333;
}

// Formulário de Login ===== 

.form-login{
    text-align: center;
    position: relative;
    margin-top: 25%;
}

.button-text{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.entrar{
    margin-top: 30px;
    border-radius: 25px;
    height: 50px;
    width: 125px;
}

.btn{
    text-align: center;
}

