*, html, body{
    color: #333;
}

.login-content{
    margin-top: 30%;
}

// Formulário de Login ===== 

.form-login{
    text-align: center;
    position: relative;
}

.button-text{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.entrar{
    margin-top: 30px;
    border-radius: 25px;
    height: 50px;
    width: 125px;
}

.btn{
    text-align: center;
}

#cadastro{
    text-align: center;
    margin-top: 20px;
    border-bottom: none;
}

