page-home{
    color: #333333;
}

.content{
    text-align: center;
    margin-top: 10%;
}

#botao-falso{
    margin: 0 auto;
    width: 170px;
    height: 170px;
    border: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: map-get($colors, secondary);
    background-color: #caf7d7;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: border-color 0.5s ease-in-out,
                background-color 0.5s ease-in-out;
}

#botao-panico{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: map-get($colors, secondary);
    margin-top: 7px;
    // margin-bottom: 30px;
    border: solid;
    border-width: 3px;
    border-color: map-get($colors, dark);
    transition: background-color 0.5s ease-in-out;
}

.botao-texto{
    font-size: 20px;
    font-weight: bold;
}

